services:
  db:
    container_name: "red-social-db"
    image: "postgres:15"
    environment:
      - "POSTGRES_DB=${DB_NAME}"
      - "POSTGRES_USER=${DB_USER}"
      - "POSTGRES_PASSWORD=${DB_PASSWORD}"
    ports:
      - "5432:5432"
    volumes:
      - "db_data:/var/lib/postgresql/data"
      - "./scripts/init.sql:/docker-entrypoint-initdb.d/01_init.sql"
      - "./dumps:/docker-entrypoint-initdb.d/dumps"
    command:
      - "postgres"
      - "-c"
      - "shared_buffers=256MB"
      - "-c"
      - "maintenance_work_mem=256MB"
      - "-c"
      - "effective_cache_size=1GB"
      - "-c"
      - "checkpoint_completion_target=0.9"
      - "-c"
      - "wal_buffers=16MB"
      - "-c"
      - "max_wal_size=2GB"
      - "-c"
      - "fsync=off"
      - "-c"
      - "synchronous_commit=off"
      - "-c"
      - "full_page_writes=off"
      - "-c"
      - "work_mem=16MB"

volumes:
  db_data: